body {
  margin: 0px auto;
}

* {
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.bouton {
  color: white;
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.4s;
}
.bouton:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transform: scale(1.001);
  opacity: 0.9;
}

.restaurants__card__nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.restaurants__card__nouveau p {
  font-size: 14px;
  color: #008766;
  font-family: "Roboto";
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .header__logo {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  padding: 20px 15px 15px 15px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  header .header__logo {
    box-shadow: none;
  }
}
header .header__logo img {
  width: 170px;
  height: 30px;
}
header a {
  position: absolute;
  top: 22px;
  left: 24px;
  font-size: 1.5rem;
}
header a .fa-arrow-left {
  color: #353535;
}
header .header__location {
  background-color: #eaeaea;
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  header .header__location {
    box-shadow: none;
  }
}
header .header__location input {
  border: none;
  background-color: #eaeaea;
  width: 130px;
}
header .header__location input::placeholder {
  font-weight: bold;
  font-size: 1rem;
  color: #353535;
}
header .header__location input:focus {
  border-radius: 5px;
  outline: 3px solid #9356dc;
}
header .header__location .fa-location-dot {
  font-size: larger;
  color: #353535;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    padding-top: 50px;
  }
}
footer .footer__logo h2 {
  font-family: "Shrikhand";
  color: white;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  footer .footer__logo h2 {
    margin: 0px 40px 10px;
  }
}
footer .footer__content {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  footer .footer__content {
    flex-direction: row;
    margin-right: 50px;
    gap: 10px;
  }
}
footer .footer__content .fa-utensils {
  margin-right: 11px;
}
footer .footer__content .fa-handshake-angle {
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  footer .footer__content .footer__content--marge {
    margin-left: 30px;
  }
}

/******section reservation*******/
.reservation {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  gap: 20px;
}
.reservation h1 {
  text-align: center;
  margin: 0px;
  padding: 40px 55px 0px 55px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .reservation h1 {
    font-size: 40px;
  }
}
.reservation p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto";
  color: #353535;
  margin: 0;
  padding: 0px 30px 10px 30px;
}
.reservation a {
  margin-bottom: 50px;
}

/******section Fonctionnement*******/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 40px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    padding: 30px 12%;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
.fonctionnement h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement__container a {
    width: 31%;
  }
}
.fonctionnement__container a .fonctionnement__container__button {
  display: flex;
  gap: 20px;
  height: 72px;
  align-items: center;
  border: none;
  background: #F6F6F6;
  border-radius: 20px;
  font-family: roboto, sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.fonctionnement__container a .fonctionnement__container__button span {
  background: #9356dc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -10px;
  top: 25px;
  font-family: roboto;
  font-size: 0.9rem;
}
.fonctionnement__container a .fonctionnement__container__button .fa-solid {
  margin-left: 30px;
  font-size: 20px;
}
.fonctionnement__container a .fonctionnement__container__button .fa-solid.fa-mobile-screen-button {
  color: #7E7E7E;
}
.fonctionnement__container a .fonctionnement__container__button .fa-solid.fa-list {
  color: #7E7E7E;
}
.fonctionnement__container a .fonctionnement__container__button .fa-solid.fa-store {
  color: #9356dc;
}
.fonctionnement__container a .fonctionnement__container__button h3 {
  font-size: 1rem;
}

/************Section Restaurants***********/
.restaurants {
  width: 100%;
  background: #F6F6F6;
  padding: 30px 20px 50px 20px;
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 10px 12% 30px;
  }
}
.restaurants h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .restaurants__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
  }
}
.restaurants__card__content {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 250px;
}
.restaurants__card__content a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.restaurants__card__content a img {
  position: relative;
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: 0px -50px;
}
.restaurants__card__content a .restaurants__card__content__text {
  padding: 13px;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.restaurants__card__content a .restaurants__card__content__text h3 {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.restaurants__card__content a .restaurants__card__content__text p {
  margin: 5px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.restaurants__card__content__heart {
  position: absolute;
  top: 200px;
  right: 45px;
}
.restaurants__card__content__heart i {
  position: absolute;
  font-size: 22px;
  cursor: pointer;
}
.restaurants__card__content__heart .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.restaurants__card__content__heart .fa-solid:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/**photo d'accueil des pages de restaurants**/
.image-restaurant {
  width: 100%;
  height: 275px;
}
@media screen and (min-width: 768px) {
  .image-restaurant {
    height: 380px;
  }
}
.image-restaurant img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .image-restaurant img {
    height: 380px;
    object-fit: cover;
  }
}

/**titre du restaurant**/
.titre-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .titre-restaurant {
    justify-content: center;
    width: 100%;
  }
}
.titre-restaurant h1 {
  font-family: "shrikhand";
  font-size: 28px;
  font-weight: 400;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .titre-restaurant .titre-heart {
    position: relative;
  }
}
.titre-restaurant .titre-heart i {
  cursor: pointer;
  position: absolute;
  top: 42px;
  right: 40px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .titre-restaurant .titre-heart i {
    top: -10px;
    right: -25px;
  }
}
@media screen and (max-width: 350px) {
  .titre-restaurant .titre-heart i {
    top: 22px;
  }
}
.titre-restaurant .titre-heart .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.titre-restaurant .titre-heart .fa-solid:hover {
  opacity: 1;
}

/** Positionner le container sur l'image **/
.container-menu {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container-menu {
    width: 80%;
    display: flex;
    align-items: center;
  }
}

/** titre , ligne et menu **/
.card-box {
  background-color: #F6F6F6;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-box {
    width: 60%;
  }
}
.card-box h2 {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  padding: 5px 15px;
}
.card-box .ligne {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-left: 15px;
}
.card-box .card-box__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 12px;
}
.card-box .card-box__container__carte {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.card-box .card-box__container__carte:hover .card-box__container__carte-prix {
  transform: translateX(0px);
}
.card-box .card-box__container__carte-texte {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
  padding: 0 0 0 14px;
  overflow: hidden;
  white-space: nowrap;
}
.card-box .card-box__container__carte-texte h3 {
  margin: 0;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-box .card-box__container__carte-texte p {
  margin: 0;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-box .card-box__container__carte-prix {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateX(60px);
  transition: all 0.4s;
}
.card-box .card-box__container__carte-prix p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  color: #353535;
  padding-top: 27px;
  padding-right: 15px;
}
.card-box .card-box__container__carte-prix span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
  font-size: 1.3rem;
  background-color: #99E2D0;
}
.card-box .card-box__container__carte-prix span .fa-circle-check {
  color: white;
}

/***bouton commander***/
.button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button__container .bouton {
  padding: 15px 48px;
  margin: 10px 0 40px 0;
}

@keyframes anim-card-box {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.entrees {
  animation: anim-card-box 0.4s;
}

.plats {
  animation: anim-card-box 0.8s;
}

.dessert {
  animation: anim-card-box 1.2s;
}

.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background-color: rgba(70, 70, 70, 0.4);
  animation: fadeOut 2500ms linear forwards;
}
.loader__container .loader {
  width: 150px;
  height: 150px;
  border: 10px solid white;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2500ms linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/*# sourceMappingURL=style.css.map */
