/******section reservation*******/
.reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-background;
    gap: 20px;
    h1{
        text-align: center;
        margin: 0px;
        padding: 40px 55px 0px 55px;
        @include h2-section;
    }
    p{
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        font-family: 'Roboto';
        color: $dark-grey;
        margin: 0;
        padding: 0px 30px 10px 30px;
    }
    a{
        margin-bottom: 50px;
    }
}

/******section Fonctionnement*******/
.fonctionnement{
    display: flex;
    flex-direction: column; 
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
    h2{
        @include h2-section;
        margin-bottom: 25px;
    }
    &__container{ 
        display: flex;
        flex-direction: column;
        gap: 25px;       
        &__button{
            display: flex;
            gap: 20px;
            height: 72px;
            align-items: center;
            border: none;
            background: $grey-background;
            border-radius: 20px;
            font-family: roboto, sans-serif;
            @include shadow;
            position: relative;
            span{
                background: $color-elipse;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: absolute;
                left: -10px;
                top: 25px;
                font-family: roboto;
                font-size: 0.9rem;
            }
            .fa-solid{
                margin-left: 30px;
                font-size: 20px;
                &.fa-mobile-screen-button{
                    color: #7E7E7E;
                }
                &.fa-list{
                    color: #7E7E7E;
                }
                &.fa-store{
                    color: $color-elipse;
                }
            }
            h3{
                font-size: 1rem;
            }
        }    
    }
}
/************Section Restaurants***********/
.restaurants{
    width: 100%;
    background: $grey-background;
    padding: 30px 20px 50px 20px;
    h2{
        @include h2-section;
    }    
    &__card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__content{
            position: relative;
            overflow: hidden;
            background: $white-background;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            height: 250px;                      
            a{
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                img{
                    position: relative;
                    width: 100%;
                    height: 175px;
                    object-fit: cover;
                    object-position: 0px -50px ;
                }
                .restaurants__card__content__text{
                    padding: 13px;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    h3{
                        margin: 0px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                    }
                    p{
                        margin: 5px 0px;
                        font-family: 'Roboto', sans-serif;
                        font-size: 17px;
                        font-weight: 300;
                    }
                }
            }          
            &__heart{
                position: absolute;
                top: 200px;
                right: 45px;
                i{
                    position: absolute;
                    font-size: 22px;    
                    cursor: pointer;
                }
                .fa-solid{
                    opacity: 0;
                    color: transparent;
                    background-clip: text ;                   
                    transition: all 0.4s ease-in-out;
                    background-image: $button-background;
                    &:hover{
                       opacity: 1 ;
                    }           
                }           
            }   
        }
    }
}